* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
}

body {
  background-color: rgb(34, 25, 158);
  height: 100vh;
}
#gif {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: block;
  border-radius: 13px;
}
main {
  width: 380px;
  border-radius: 20px;
  background-color: #f3f3f3;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  align-items: center;
  padding: 14px 24px 24px 23px;
}
label {
  color: #777777;
  font-weight: 400;
  font-size: 14px;
}
select,
button,
input {
  width: 100%;
  height: 48px;
  outline: none;
  border-radius: 4px;
  margin-bottom: 12px;
  appearance: none;
  font-size: 14px;
  font-weight: 700;
  padding-left: 24px;
  transition: 1s;
}
select:hover,
button:hover {
  transition: 0.8s;
  background: #ad93ca;
  height: 48px;
}
input {
  padding-left: 0px;
  display: flex;
  text-align: center;
}
input:hover {
  background: #ca93ca;
  transition: 1s;
  opacity: 1;
}
button {
  background: rgb(34, 25, 158);
  border: none;
  color: #ffffff;
  padding-left: 0px;
}
button:hover {
  background: #d152d1;
  opacity: 0.8;
  transition: 1s;
  opacity: 0.8;
}
button:active {
  opacity: 0.5;
  scale: 0.98;
}
section {
  border: 1px solid rgb(34, 25, 158);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 1s;
  padding-top: 10px;
}
section:hover {
  transition: 1s;
  background-color: #c1afec;
}
#setinha {
  padding: 07px;
}
.resultado {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bandeira {
  width: 44px;
  height: 44px;
}
.Nome-da-Moeda {
  font-size: 14px;
  font-weight: 400;
  color: #777777;
}
.Valor {
  font-size: 24px;
  font-weight: 700;
  color: #303030;
  padding-bottom: 5px;
}
#pdois {
  font-size: 32px;
}

@media (max-width: 600px) {
  #gif {
    width: 250px;
    margin-top: -10px;
  }
  main {
    width: 310px;
  }
}
@media (max-width: 330px) {
  #gif {
    width: 220px;
  }
  main {
    width: 250px;
    margin-top: -20px;
  }
}
@media (max-width: 330px) {
    #gif {
        width: 190px;
      }
  main {
    width: 250px;
    margin-top: -20px;
  }
}
@media (max-width: 270px) {
    #gif {
        width: 180px;
      }
    main {
    width: 215px;
    margin-top: -20px;
  }
}

/* Background https://wweb.dev/resources/animated-css-background-generator */
.bg {
  animation: slide 7s ease-in-out infinite alternate;
  background-image: linear-gradient(
    -60deg,
    #ffffff 50%,
    rgb(34, 25, 158) 50%
  );
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 12s;
}

.bg3 {
  animation-duration: 12s;
  height: 90vw;
}

.content {
  border-radius: 0.25em;
  box-sizing: border-box;
  position: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: inherit;
}

h1 {
  font-family: monospace;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
